body {
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFE066;
    background-color: #50514F; 

}
canvas {
    margin-top: 5em;
    box-shadow: black 20px 10px 40px;
}

.mobile-buttons {
    display: none;
}

@media only screen and (max-width: 766px) {

h1 {
    font-size: 1.5em;
}
canvas {
    margin-top: 1em;
    width: 365px;
    box-shadow: none;
}

.mobile-buttons {
    height: 130px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#middleButtonContain {
    width: 175px;
    display: flex;
    justify-content: space-between;
}
.mobile-buttons input[type="image"] {
    width: 60px;
    height: 60px;
}

/* tranform button image for mobile */

#left-button input[type="image"] {
    transform: rotate(270deg);
}
#right-button input[type="image"] {
    transform: rotate(90deg);
}
#down-button input[type="image"] {
    transform: rotate(180deg);
}

}

#reset {
    display: none;
}
